<%if flash[:notice]%>
  <div class = "alert alert-primary" role = "alert">
    로그인 성공!
  </div>
<%elsif flash[:alert]%>
  <div class = "alert alert-danger" role = "alert">
    로그인 해야 글을 쓸 수 있습니다.
  </div>
<%end%>
